@model ELearningProject_SoufianeJD.Models.teacher
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/CssFile/style2.css">
<div class="container">
    <div class="row">
        <div class="col-md-4 login-sec">


            @using (Html.BeginForm("SignInTeacher", "Teacher", FormMethod.Post, new { @class = "login-form" }))
            {

            <div class="form-group">
                <br />
                <img src="~/Images/loginteacherlogo.png">
                <br />

                <label for="exampleInputEmail1" class="text-uppercase">Login</label>
                @Html.TextBoxFor(model => model.Id, new { @type = "text", @class = "form-control" })



            </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                    @Html.TextBoxFor(model => model.pw, new { @type = "password", @class = "form-control" })

                </div>
                @Html.ValidationMessageFor(model => model.pw)

                <div class="form-check">

                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </div>

            }
            <br />
           
        </div>

    </div>
</div>
